<div class="inner-page-middle-seciton-main">
    <div class="black-bg-section"></div>

    <app-sidebar></app-sidebar>

    <div class="inner-page-middle-seciton">

        <app-dashboard-header></app-dashboard-header>

        <div class="dashboard-page-content-seciton edit-profile-main-section">
            <div class="change-password-page-main">
                <div class="change-password-page-head">
                    Edit Profile
                </div>
                <div class="profile-img-block">
                    <div class="pro-img"><img src="images/user.png" class="img-responsive img-preview" alt=""/></div>
                    <input style="height: 100%; width: 100%; z-index: 99;" id="logo-id" name="logo"  type="file" class="attachment_upload">
                    <a href="javascript:void(0)" class="profile-img-edit-block"><i class="fal fa-edit"></i></a>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="input-box-right">
                            <div class="input-name">Name </div>
                            <input type="text" name="name" placeholder="Enter Full Name">
                            <span class="bar"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="input-box-right">
                            <div class="input-name">Email Address</div>
                            <input type="text" name="email" placeholder="Enter Email Address">
                            <span class="bar"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                        <div class="input-box-right">
                            <div class="input-name">Phone Number</div>
                            <input type="text" name="phone" placeholder="Enter Phone Number">
                            <span class="bar"></span>
                        </div>
                    </div>
                </div>
                <div class="continue-bnt-section-popup">
                    <a href="javascript:void(0);" class="bnt-continue-section-popup">Continue</a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
