<div class="inner-page-middle-seciton-main">
    <div class="black-bg-section" (click)="menuclose()"></div>
    <app-sidebar></app-sidebar>

    <div class="inner-page-middle-seciton">
        <app-dashboard-header></app-dashboard-header>

        <div class="dashboard-page-content-seciton">
            <div class="add-blog-form-section">

                fgdfgdfg

            </div>
        </div>
    </div>
</div>
<!-- back to Top Start Here  -->
<a href="#0" class="cd-top"><i class="fal fa-angle-up"></i></a>
