<footer class="">
    <div class="footer-main-seciton">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="footer-menus-main">
                        <div class="footer-manu-head geeksforgeeks">
                            <h4>For Consumer</h4> <span><i class="fal fa-angle-down"></i></span>
                        </div>
                        <div class="footer-manu-links">
                            <ul>
                                
                                <li><a routerLink="/lawyer-directory/work-consumer">How it work</a></li>
                                <li><a routerLink="/lawyer-directory/lawyer-enquiry">Lawyer enquiry</a></li>
                                <li><a href="javascript:void(0)">Legal matching </a></li>
                                <li><a href="javascript:void(0)">Hire top lawyer </a></li>
                                <li><a href="javascript:void(0)">Urgent legal help</a></li> 
                                <li><a routerLink="/lawyer-directory/ask-free-question">Ask free question</a></li>
                                <li><a href="javascript:void(0)">Browse legal guide</a></li>
                                <li><a href="javascript:void(0)">Review your lawyer</a></li>
                                <li><a href="javascript:void(0)">Calculators</a></li>

                                <!-- <li><a routerLink="/lawyer-directory/signup">Sign Up</a></li>
                                
                                <li><a href="javascript:void(0)">Law Firms</a></li>
                                <li><a href="javascript:void(0)">Affiliated Law Firms </a></li>
                                <li><a href="javascript:void(0)">Affiliated Lawyers</a></li>
                                <li><a href="javascript:void(0)">Reputed Lawyers</a></li>
                                <li><a href="javascript:void(0)">Urgent Concierge</a></li>
                              
                                
                                <li><a routerLink="/lawyer-directory/see-all-questions">Browse Questions from others</a>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="footer-menus-main">
                        <div class="footer-manu-head">
                            <h4>For lawyer</h4> <span><i class="fal fa-angle-down"></i></span>
                        </div>
                        <div class="footer-manu-links">
                            <ul>
                                <li><a routerLink="/lawyer-directory/work-lawyer">How it work</a></li>
                                <li><a href="javascript:void(0)">Claim your profile</a></li>
                                <li><a href="javascript:void(0)">Grow your practice</a></li>
                                <li><a href="javascript:void(0)">Answer questions </a></li>
                                <li><a href="javascript:void(0)">Write legal guide</a></li>
                                <li><a href="javascript:void(0)">Affiliated lawyer</a></li>
                                <li><a href="javascript:void(0)">Lawyer marketing</a></li>
                                <li><a href="javascript:void(0)">Create website</a></li>
                                <!-- <li><a routerLink="/lawyer-directory/login">Log In to Your Account</a></li> -->
                               

                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="footer-menus-main">
                        <div class="footer-manu-head">
                            <h4>About Us</h4> <span><i class="fal fa-angle-down"></i></span>
                        </div>
                        <div class="footer-manu-links">
                            <ul>
                                <li><a href="javascript:void(0)">Our company</a></li>
                                <li><a routerLink="/lawyer-directory/blog">Blog</a></li>
                                <li><a href="javascript:void(0)">Press</a></li>
                                <li><a href="javascript:void(0)">Brand kit</a></li>
                                <li><a href="javascript:void(0)">Support</a></li>
                                <li><a href="javascript:void(0)">Career</a></li>
                                <li><a href="javascript:void(0)">Partner with us</a></li>
                                <!-- <li><a href="javascript:void(0)">Contact Us</a></li>
                                <li><a href="javascript:void(0)">User Agreement</a></li>
                                <li><a href="javascript:void(0)">Our Company</a></li>
                                <li><a href="javascript:void(0)">Press Room</a></li>
                                <li><a href="javascript:void(0)">Careers</a></li>
                                <li><a href="javascript:void(0)">FAQs</a></li>
                                <li><a href="javascript:void(0)">Site Map</a></li>
                                <li><a href="javascript:void(0)">Advertising Policy</a></li>
                                <li><a routerLink="/lawyer-directory/blog">Blog</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
                    <div class="footer-menus-main">
                        <div class="footer-manu-head">
                            <h4>Weird Stuff</h4> <span><i class="fal fa-angle-down"></i></span>
                        </div>
                        <div class="footer-manu-links">
                            <ul>
                                <li><a href="javascript:void(0)">Comenity guideline</a></li>
                                <li><a href="javascript:void(0)">Terms & condition</a></li>
                                <li><a href="javascript:void(0)">Privacy policy</a></li>
                                <li><a href="javascript:void(0)">Do not sell my data</a></li>
                                <li><a href="javascript:void(0)">Gdpr</a></li>
                                <li><a href="javascript:void(0)">Sitemap</a></li>
                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-newsletter-section">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-5 col-xl-5">
                        <div class="footer-newsletter">
                            <div class="footer-newsletter-head">
                                Newsletter 
                            </div>
                            <div class="footer-newsletter-form">                                
                                <form #newsletterform="ngForm" id="newsletterform" data-parsley-validate>
                                    <div class="newsletter-input-section">
                                        <input type="email" name="email" id="email" #email="ngModel" ngModel
                                            placeholder="Your Email" data-parsley-validate="true"
                                            data-parsley-required-message="* This field is required." required />

                                        <button type="submit" (click)="onsubmitNewsletter(newsletterform)"><i
                                                class="fas fa-caret-right"></i></button>
                                    </div>
                                </form>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                        <div class="footer-newsletter choose-region-main">
                            <div class="footer-newsletter-head">
                                Choose Region 
                            </div>
                            <div class="footer-newsletter-form"> 
                                <div class="region-select-drop-main">
                                    <ng-select id="searchbycountry" [items]="getcountryList" name="searchbycountry" #searchbycountry="ngModel" ngModel [(ngModel)]="selcountry" [ngModelOptions]="{ standalone: true }" bindLabel="name" bindValue="id" [searchable]="true" [clearable]="false" (change)="setcountryvalfunc($event.id);">
                                    </ng-select>
                                    <!-- <select class="region-select-drop">
                                        <option>United States</option>
                                        <option>United States</option>
                                        <option>United States</option>
                                    </select> -->
                                    <button class="choose-region-btn" type="button" (click)="searchbycountryfunc();"><i class="fas fa-caret-right"></i></button>
                                    <!-- <span class="select-arrow-down"><i class="fas fa-caret-down"></i></span> -->
                                </div>
                            </div>                            
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">
                        <div class="newsletter-section-main social-media-section-block">
                            <ul>
                                <li><a class="facebook-social-icon" href="javascript:void(0)"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                <li><a class="twitter-social-icon" href="javascript:void(0)"><i
                                            class="fab fa-twitter"></i></a></li>
                                <li><a class="youtube-social-icon" href="javascript:void(0)"><i
                                            class="fab fa-youtube"></i></a></li>
                                <li><a class="instagram-social-icon" href="javascript:void(0)"><i
                                            class="fab fa-instagram"></i></a></li>
                                <li><a class="google-plus-social-icon" href="javascript:void(0)"><i
                                            class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-section-block">
            <div class="container">
                <ul>
                    <li>&copy; Copyright 2020. All Rights reserved by LawTally</li>
                    <li>|</li>
                    <li><a routerLink="/lawyer-directory/privacy-and-policy">Privacy policy</a></li>
                    <li>|</li>
                    <li><a routerLink="/lawyer-directory/terms-and-conditions">Terms &amp; conditions</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>