<!-- <div class="inner-page-middle-seciton-main">
    <div class="black-bg-section"></div>

    <app-sidebar></app-sidebar>

    <div class="inner-page-middle-seciton">

        <app-dashboard-header></app-dashboard-header>

        <div class="dashboard-page-content-seciton trassaction-history-page-seciton">
            <div class="notification-head-section-main">
                <div class="notification-head-section">
                    Edit Blogs
                </div>
                <div class="breadcurm-section-block">
                    <ul>
                        <li><a routerLink="/lawyer-directory/dashboard">Home</a><span><i
                                    class="fal fa-angle-right"></i></span></li>
                        <li>Blogs<span><i
                            class="fal fa-angle-right"></i></span></li>
                        <li>Add</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="trassaction-history-table-seciton blogformmainsection">
         
                <form [formGroup]="blogForm" name="blogForm" class="send-reviwe-modal-main">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-section">
                                Blog Title<br>
                                <input type="text" placeholder="Enter Blog Title" formControlName="title" required (keyup)="createslug($event.target.value)">
                                <div *ngIf="blogForm.get('title').status==='INVALID' && submitted==true" class="error-msg">
                                    * Blog Title is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-section drop-section-icon-main">
                                Blog Category<br>
                                <ng-select [clearable]="false" [items]="categories" bindLabel="title" bindValue="id"
                                    formControlName="category_id" required>
                                </ng-select>
                                <span class="drop-section-icon"><i class="fal fa-angle-down"></i></span>
                                <div *ngIf="blogForm.get('category_id').status==='INVALID' && submitted==true" class="error-msg">
                                    * Blog Catgory is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-section">
                                Blog Slug<br>
                                <input type="text" placeholder="Enter Image Alter Text" disabled formControlName="category_slug" required style="background: gainsboro;">
                                <div *ngIf="blogForm.get('category_slug').status==='INVALID' && submitted==true" class="error-msg">
                                    * Blogs Slug Text is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-section">
                                Meta Description<br>
                                <input type="text" placeholder="Enter Meta Description" formControlName="meta_description" required>
                                <div *ngIf="blogForm.get('meta_description').status==='INVALID' && submitted==true" class="error-msg">
                                    * Meta Description is required.
                                </div>
                            </div>
                        </div>
                      
                        <div class="col-md-6">
                            <div class="form-group form-group-section">
                                Short Description<br>
                                <input type="text" placeholder="Enter Short Description" formControlName="short_description" required>
                                <div *ngIf="blogForm.get('short_description').status==='INVALID' && submitted==true" class="error-msg">
                                    * Short Description is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-section">
                                <div class="user-box uploadimgbloksection client-excel-import">
                                    Upload image
                                    <div class="upload-block">
                                        <input type="file" id="pdffile" accept="image/*" (change)="selectimage($event)"  formControlName="image" style="visibility:hidden; height: 0;position: absolute;" name="file">
                                        <div class="input-group ">
                                            <input type="text" class="form-control file-caption  kv-fileinput-caption" placeholder="Upload image" id="subfile" />
                                            <div class="btn btn-primary btn-file"><a class="file" onclick="$('#pdffile').click();">Browse...</a></div>
                                            <div *ngIf="blogForm.get('image').status==='INVALID' && submitted==true" class="error-msg">
                                                * Image is required.
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        
                        <div class="form-group form-group-section col-md-12">
                            Blog Content<br>
                            <angular-editor [placeholder]="'Enter text here...'" formControlName="description"></angular-editor>
                            <div *ngIf="blogForm.get('description').status==='INVALID' && submitted==true" class="error-msg">
                                * Blog Content is required.
                            </div>
                        </div>

                       
                    </div>
                </form>
                
               
                <div class="continue-bnt-section-popup">
                    <button type="button" class="bnt-continue-section-popup" (click)="editBlog(blogForm)">
                        Update
                    </button>                    
                </div>

                <div class="table-responsive" *ngIf="blogData?.length === 0">
                    <div class="no-records-found-section">
                        <div class="no-records-found-txt">No records found</div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cropmodal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        
        <div class="modal-header">
          <h4 class="modal-title">Crop Image</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        
        <div class="modal-body">
          <div class="row">
            <div class="form-group form-group-section col-md-6">
                <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="4 / 3"
                format="png"
                (imageCropped)="imageCropped($event)"
            ></image-cropper>
            </div>
            
            
            <div class="form-group form-group-section col-md-6 p-2">
            
                <div class="imagePreview" *ngIf="imageURL !== ''">
                    <img [src]="imageURL" [alt]="blogForm.value.name">
                  </div>
            </div> 
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary m-2" data-dismiss="modal">Submit</button>
          </div>
  
      </div>
    </div>
  </div> -->