<div class="blank-div-section"></div>

<!-- HEADER -->
<app-main-header></app-main-header>

<div class="container-size">
    <div class="breadcurm-section-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
                    <div class="user-address-section">
                        Probate lawyer near New York, NY
                    </div>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
                    <div class="breadcurm-txt-section">
                        <ul>
                            <li routerLink="/"><span>Home</span> <span class="breadcurm-arrow-section"><i
                                        class="fal fa-angle-right"></i></span>
                            </li>
                            <li><span>listing</span> <span class="breadcurm-arrow-section"><i
                                        class="fal fa-angle-right"></i></span></li>
                            <li><span>Probate lawyer</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-sectin-main listing-middle-seciton-main">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
                    <div class="left-filter-section">
                        <div class="filter-head-section">
                            Filters
                        </div>
                        <div class="filters-parent-div">
                            <div class="filters-block-main">
                                <div class="filters-block-head">
                                    Filter By
                                </div>
                                <div class="filter-head-checkbox"
                                    *ngFor="let profiletype of usersService.profiletypelist">
                                    <div class="check-box" style="display: inline-block;">
                                        <input id="{{ profiletype.id }}" class="filled-in" type="checkbox"
                                            (change)="onChangeFilters($event.target.checked,profiletype.id )">
                                        <label for="{{profiletype.id}}">{{profiletype.package_name}}</label>
                                        <!-- <span class="informartion-section"
                                            *ngIf="profiletype.package_name == 'Elite Package'">
                                            <i class="fas fa-info-circle"></i>
                                            <span class="information-txt-section">
                                                {{profiletype.description}}
                                            </span>
                                        </span> -->
                                    </div>
                                    <!-- <div class="check-box">
                                        <input id="check2" class="filled-in" type="checkbox">
                                        <label for="check2">Verified Profiles</label>
                                    </div> -->
                                </div>
                            </div>
                            <div class="filters-block-main gender-radio-secion-main">
                                <div class="filters-block-head">
                                    Gender
                                </div>
                                <div class="filter-head-checkbox" (change)="onChangeGender($event)">
                                    <div class="radio-btns">
                                        <div class="radio-btn">
                                            <input type="radio" id="male" value="male" name="selector">
                                            <label for="male">Male</label>
                                            <div class="check"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="radio-btn">
                                            <input type="radio" id="female" value="female" name="selector">
                                            <label for="female">Female</label>
                                            <div class="check"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="filters-block-main">
                                <div class="filters-block-head">
                                    Experience
                                </div>
                                <div class="left-bar-hidden-section">
                                    <div class="radio-btns">
                                        <div class="radio-btn" (change)="onChangeExperience(10, '')">
                                            <input type="radio" id="ex1" name="selector1" value="1">
                                            <label for="ex1">10+ years</label>
                                            <div class="check"></div>
                                        </div>
                                    </div>
                                    <div class="radio-btns">
                                        <div class="radio-btn" (change)="onChangeExperience(5, 10)">
                                            <input type="radio" id="ex2" name="selector1" value="5">
                                            <label for="ex2">5-10 years</label>
                                            <div class="check"></div>
                                        </div>
                                    </div>
                                    <div class="radio-btns">
                                        <div class="radio-btn" (change)="onChangeExperience(2, 5)">
                                            <input type="radio" id="ex3" name="selector1" value="10">
                                            <label for="ex3">2-5 years</label>
                                            <div class="check"></div>
                                        </div>
                                    </div>
                                    <div class="radio-btns">
                                        <div class="radio-btn" (change)="onChangeExperience(0, 2)">
                                            <input type="radio" id="ex4" name="selector1" value="25">
                                            <label for="ex4">0-2 years</label>
                                            <div class="check"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="filters-block-main">
                                <div class="filters-block-head">
                                    Distance
                                </div>
                                <div class="left-bar-hidden-section">
                                    <div class="radio-btns">
                                        <div class="radio-btn" (change)="onChangeDistance($event)">
                                            <input type="radio" id="dist1" name="selector2" value="1">
                                            <label for="dist1">1 mile</label>
                                            <div class="check"></div>
                                        </div>
                                    </div>
                                    <div class="radio-btns">
                                        <div class="radio-btn" (change)="onChangeDistance($event)">
                                            <input type="radio" id="dist5" name="selector2" value="5">
                                            <label for="dist5">5 miles</label>
                                            <div class="check"></div>
                                        </div>
                                    </div>
                                    <div class="radio-btns">
                                        <div class="radio-btn" (change)="onChangeDistance($event)">
                                            <input type="radio" id="dist10" name="selector2" value="10">
                                            <label for="dist10">10 miles</label>
                                            <div class="check"></div>
                                        </div>
                                    </div>
                                    <div class="radio-btns">
                                        <div class="radio-btn" (change)="onChangeDistance($event)">
                                            <input type="radio" id="dist25" name="selector2" value="25">
                                            <label for="dist25">25 miles</label>
                                            <div class="check"></div>
                                        </div>
                                    </div>
                                    <div class="radio-btns">
                                        <div class="radio-btn" (change)="onChangeDistance($event)">
                                            <input type="radio" id="dist50" name="selector2" value="50">
                                            <label for="dist50">50 miles</label>
                                            <div class="check"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filters-block-main">
                                <div class="filters-block-head">
                                    Client Satisfaction
                                </div>
                                <div class="left-bar-hidden-section">
                                    <div class="radio-btns">
                                        <div class="radio-btn" (change)="getclientsatisfaction($event)">
                                            <input type="radio" id="star5" name="selector3" value="5">
                                            <label for="star5" >
                                              
                                                <i ><span  style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                                <i><span   style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                            </label>
                                            <div class="check"></div>
                                        </div>
                                    </div>
                                    <div class="radio-btns">
                                        <div class="radio-btn" (change)="getclientsatisfaction($event)">
                                            <input type="radio" id="star4" name="selector3" value="4">
                                            <label for="star4">
                                                <!-- <i class="fa fa-star active-star"></i>
                                                <i class="fa fa-star active-star"></i>
                                                <i class="fa fa-star active-star"></i>
                                                <i class="fa fa-star active-star"></i>
                                                <i class="fal fa-star active-star"></i> -->
                                                <i ><span  style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                                <i><span   style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star">★ </span></i>
                                            </label>
                                            <div class="check"></div>
                                        </div>
                                    </div>
                                    <div class="radio-btns">
                                        <div class="radio-btn" (change)="getclientsatisfaction($event)">
                                            <input type="radio" id="star3" name="selector3" value="3">
                                            <label for="star3">
                                                <!-- <i class="fa fa-star active-star"></i>
                                                <i class="fa fa-star active-star"></i>
                                                <i class="fa fa-star active-star"></i>
                                                <i class="fal fa-star active-star"></i>
                                                <i class="fal fa-star active-star"></i> -->
                                                <i ><span  style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                                <i><span   style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star ">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star ">★ </span></i>
                                            </label>
                                            <div class="check"></div>
                                        </div>
                                    </div>
                                    <div class="radio-btns">
                                        <div class="radio-btn" (change)="getclientsatisfaction($event)">
                                            <input type="radio" id="star2" name="selector3" value="2">
                                            <label for="star2">
                                                <!-- <i class="fa fa-star active-star"></i>
                                                <i class="fa fa-star active-star"></i>
                                                <i class="fal fa-star active-star"></i>
                                                <i class="fal fa-star active-star"></i>
                                                <i class="fal fa-star active-star"></i> -->
                                                <i ><span  style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                                <i><span   style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star ">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star">★ </span></i>
                                            </label>
                                            <div class="check"></div>
                                        </div>
                                    </div>
                                    <div class="radio-btns">
                                        <div class="radio-btn" (change)="getclientsatisfaction($event)">
                                            <input type="radio" id="star1" name="selector3" value="1">
                                            <label for="star1">
                                                <!-- <i class="fa fa-star active-star"></i>
                                                <i class="fal fa-star active-star"></i>
                                                <i class="fal fa-star active-star"></i>
                                                <i class="fal fa-star active-star"></i>
                                                <i class="fal fa-star active-star"></i> -->
                                                <i ><span  style="font-size: 20px;font-style: normal !important"   class="star active-star">★ </span></i>
                                                <i><span   style="font-size: 20px;font-style: normal !important"   class="star ">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star ">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star ">★ </span></i>
                                                <i> <span   style="font-size: 20px;font-style: normal !important"   class="star ">★ </span></i>
                                            </label>
                                            <div class="check"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-arrow-icon-section">
                        <i class="fal fa-filter"></i>
                        <i class="fal fa-times"></i>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9 listing-middle-col">
                    <div class="search-filter-section">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 p-r-10 search-filter-col">
                                <div class="form-group">
                                    <label class="">Search by Name</label>
                                    <input type="text" name="" [(ngModel)]="searchlawyername"
                                        placeholder="Type name of lawyer" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-r-10 p-l-10 search-filter-col">
                                <div class="form-group">
                                    <label class="">Search by Location</label>
                                    <input type="text" ngx-google-places-autocomplete
                                        (onAddressChange)="handleAddressChange($event)" name=""
                                        [(ngModel)]="searchlocation" placeholder="Search by Location"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 p-r-10 p-l-10 search-filter-col">
                                <div class="form-group">
                                    <label class="">Sort By</label>
                                    <select class="form-control" (change)="getselectedlanguage($event)">
                                        <option value="">Language Spoken</option>
                                        <option value="{{languages._id}}"
                                            *ngFor="let languages of usersService.languagelist">{{languages.name}}
                                        </option>
                                    </select>
                                    <span class="select-arrow-section"><i class="fas fa-caret-down"></i> </span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-2 col-xl-2 p-l-10 search-filter-col">
                                <div class="form-group">
                                    <label class="">&nbsp;</label>
                                    <a class="btn-list-ur-account" (click)="apply_filters()"
                                        href="javascript:void(0)">Apply Filters</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="doctor-listing-block sponsored-doctor-listing"
                        *ngIf="usersService.lawyerMsg == 'No Lawyers Found.'">
                        <div class="no-records-found-section">
                            <div class="no-records-found-txt">No records found</div>
                        </div>
                    </div>
                    <div class="doctor-listing-section-main"
                        *ngIf="usersService.lawyerMsg == 'Lawyers listing displayed successfully.'">
                        <div
                            *ngFor="let lawyerdetails of usersService.lawyerList | paginate : {itemsPerPage: 10, currentPage: cp}">

                            <div class="doctor-listing-block sponsored-doctor-listing"
                                *ngIf="lawyerdetails.has_membership == 'yes'">
                                <!-- <div class="sponsored-label" *ngIf="lawyerdetails.has_membership == 'yes'">{{lawyerdetails.package_name?.package_name }}
                                </div> -->
                                <div class="doctor-img-section">
                                    <img src="{{lawyerdetails?.profile_image}}" alt="" style="border-radius:3px;box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);"/>
                                    <img class="labeltagimg" *ngIf="lawyerdetails.has_membership == 'yes'" src="{{lawyerdetails.package_name?.package_image}}" alt="" />
                                </div>
                                <div class="doctor-information-section-listing" style="margin-right: 168px;">
                                    <div class="listing-doctor-name">
                                        <span (click)="onlawyerclick(lawyerdetails._id,lawyerdetails.has_membership)"
                                            style="cursor: pointer">{{lawyerdetails.full_name}}</span>
                                        <span class="listing-verify-icon"><img src="{{lawyerdetails.package_name?.package_tick}}" alt="" /></span>
                                        
                                    </div>
                                    <div class="listing-doctor-speciality">
                                        <div class="listing-doctor-speficality-section-first">
                                            <div class="listing-doctor-speficality-section"><i
                                                    class="fas fa-university"></i> </div>
                                            <div class="listing-doctor-speficality-section"
                                                *ngFor="let areas of lawyerdetails.practice_area; let t = index">
                                                {{areas.practice_area_name}} <span
                                                    *ngIf="lawyerdetails.practice_area.length > 1 && t< (lawyerdetails.practice_area.length - 1)">,&nbsp;</span>
                                            </div>
                                        </div>
                                        <div class="listing-doctor-speficality-section">
                                            <i class="fa fa-suitcase"></i>{{lawyerdetails.experience}} years
                                        </div>
                                    </div>
                                    <div class="listing-doctor-speficality-section">
                                        <i class="fas fa-map-marker-alt"></i>{{lawyerdetails.address}}
                                    </div>
                                </div>
                                <div class="doctor-information-description-main">
                                    <!-- <div class="listing-doctor-description">
                                        [innerHTML]='lawyerdetails.description | slice:0:160'> -->
                                    <ng-container *ngIf="lawyerdetails.readMoreDes">
                                        <span class="listing-doctor-description"
                                            [innerHTML]='lawyerdetails.description | slice:0:160'>
                                        </span>
                                        <span *ngIf="lawyerdetails.description.length > 160"
                                            (click)="readmoreDes(lawyerdetails._id)" class="txt-read-more">...Read more
                                        </span>
                                    </ng-container>
                                    <ng-container *ngIf="!lawyerdetails.readMoreDes">
                                        <span class="listing-doctor-description" [innerHTML]='lawyerdetails.description |
                                            slice:0:lawyerdetails.description.length'>
                                        </span>
                                        <span (click)="hidemoreDes(lawyerdetails._id)" class="txt-read-more"> Read less
                                        </span>
                                    </ng-container>
                                    <div class="listing-doctor-rating">
                                        <div class="featured-doctor-rating" style="float: none;">
                                            <span  _ngcontent-toi="" class="star active-star"  *ngFor="let i of counter(5) | slice:0:lawyerdetails.average_ratings">
                                               ★
                                            </span>
                                            <span  _ngcontent-toi="" class="star" *ngFor="let i of counter(5) | slice:lawyerdetails.average_ratings:5">
                                              ★
                                            </span>
                                            <span>({{lawyerdetails.average_ratings}}) Ratings</span>
                                        </div>
                                    </div>
                                    <div class="listing-doctor-review-section"
                                        *ngFor="let rev of lawyerdetails.all_reviews | slice:0:1 ; let i = index">
                                        <span>Review:</span>
                                        <ng-container *ngIf="rev.readMore">
                                            {{ rev.reviews | slice:0:160 }}<span *ngIf="rev.reviews.length > 160"
                                                (click)="readmore(lawyerdetails._id)" class="txt-read-more">
                                                ...Read
                                                more </span>
                                        </ng-container>
                                        <ng-container *ngIf="!rev.readMore">
                                            {{ rev.reviews | slice:0:rev.reviews.length }}<span
                                                (click)="hidemore(lawyerdetails._id)" class="txt-read-more"> Read
                                                less </span>
                                        </ng-container>
                                        <!-- <span class="read-more-btn" *ngIf="rev.reviews.length > 160"
                                            (click)="readmore()">
                                            <span class="txt-read-more"> Read more </span>
                                            <span class="text-hide-text"> Hide Text </span>
                                        </span> -->
                                        <!-- <a href="javascript:void(0)"
                                            routerLink="/lawyer-directory/listing-details" style="cursor:pointer">Read
                                            More</a> -->
                                    </div>
                                </div>
                                <div class="listing-doctor-action-seciton">
                                    <div class="align-center-section">
                                        <!-- <a class="listing-doctor-action-btn" (click)="exquiry(lawyerdetails)"
                                            href="javascript:void(0)"><i class="fas fa-envelope"></i>
                                            Enquiry</a> -->
                                        <a class="listing-doctor-action-btn" (click)="sendEnquiryModal(lawyerdetails._id)"><i
                                                class="fas fa-envelope"></i>
                                            Message</a>
                                        <a class="listing-doctor-action-btn"
                                            href="tel:{{lawyerdetails.mobile_number}}"><i class="fas fa-phone"></i>
                                            <!-- {{lawyerdetails.mobile_number}} -->
                                            Call
                                            </a>
                                        <a class="listing-doctor-action-btn" href="http://{{lawyerdetails.website_url}}"
                                            target="_blank"><i class="fas fa-link"></i>
                                            Website</a>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="doctor-listing-block" *ngIf="lawyerdetails.has_membership == 'no'">
                                <!-- <div class="sponsored-label" *ngIf="lawyerdetails.has_membership == 'yes'">sponsored</div> -->
                                <div class="doctor-img-section">
                                    <img src="{{lawyerdetails?.profile_image}}" alt="" style="border-radius:3px;box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);"/>
                                </div>
                                <div class="doctor-information-section-listing">
                                    <div class="listing-doctor-name">
                                        <span (click)="onlawyerclick(lawyerdetails._id,lawyerdetails.has_membership)"
                                            style="cursor:pointer">{{lawyerdetails.full_name}}</span>
                                        <span class="listing-verify-icon"></span>
                                    </div>
                                    <div class="listing-doctor-speciality">
                                        <div class="listing-doctor-speficality-section-first">
                                        <div class="listing-doctor-speficality-section"><i
                                                class="fas fa-briefcase-medical"></i></div>
                                        <div class="listing-doctor-speficality-section"
                                            *ngFor="let areas of lawyerdetails.practice_area; let t = index">
                                            {{areas.practice_area_name}} <span
                                                *ngIf="lawyerdetails.practice_area.length > 1 && t < (lawyerdetails.practice_area.length - 1)">,</span>
                                        </div>
                                    </div>
                                        <div class="listing-doctor-speficality-section">
                                            <i class="fas fa-address-card"></i> {{lawyerdetails.experience}} years
                                        </div>
                                    </div>
                                    <div class="listing-doctor-speficality-section">
                                        <i class="fas fa-map-marker-alt"></i> {{lawyerdetails.address}}
                                    </div>
                                </div>
                                <div class="doctor-information-description-main">
                                    <div class="listing-doctor-description" [innerHTML]="lawyerdetails.description">
                                        <!-- {{lawyerdetails.description}} -->
                                    </div>
                                    <div class="listing-doctor-rating">
                                        <div class="featured-doctor-rating" style="float: none;">
                                            <span  _ngcontent-toi="" class="star active-star" *ngFor="let i of counter(5) | slice:0:lawyerdetails.average_ratings">
                                                ★ <!-- <i class="fas fa-star active-star"></i> -->
                                            </span>
                                            <span  _ngcontent-toi="" class="star" *ngFor="let i of counter(5) | slice:lawyerdetails.average_ratings:5">
                                                ★  <!-- <i class="fas fa-star"></i> -->
                                            </span>
                                            <span>({{lawyerdetails.average_ratings}}) Ratings</span>
                                        </div>
                                        <div class="contact-number-section-main">
                                            <!-- <a class="listing-doctor-action-btn"
                                                style="margin-left: 48%;margin-bottom: 0.5em;"
                                                (click)="exquiry(lawyerdetails)" href="javascript:void(0)"><i
                                                    class="fas fa-envelope"></i> Enquiry</a>
                                            <br> -->
                                            <div class="contact-no-label-section">
                                                Accepting new client
                                            </div>
                                            <a class="listing-doctor-action-btn"
                                                href="tel:{{lawyerdetails.mobile_number}}"><i
                                                    class="fas fa-phone"></i>{{lawyerdetails.mobile_number}}</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pagenation-seciton-block"
                            *ngIf="usersService.lawyerMsg == 'Lawyers listing displayed successfully.' && (usersService.lawyerList != '' && usersService.lawyerList?.length>5)"
                            >
                            <pagination-controls (pageChange)="cp=$event;scrollup()"></pagination-controls>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <app-main-footer></app-main-footer>

    <!-- back to Top Start Here  -->
    <a href="#0" class="cd-top"><i class="fal fa-angle-up"></i></a>
    <shared-modal id="sendEnquiryForm" modalTitle="Send Enquiry">
        <app-enquiry-form (formSubmitted)="sendEnquiry($event)"></app-enquiry-form>
    </shared-modal>