<div id="main"></div>
    <div class="header header-home main-header-section-block" id="header"  *ngIf="setcolor;else noedit"
    [ngClass]="{
        'classone':setcolor === 'black',
        'classtwo':setcolor === '#09265A',
        'classthree':setcolor === '#f7f7f7'
      }"
    >
        <div class="logo-section">
            <a routerLink="/">
                <img src="assets/images/logo.png" alt="" class="main-logo" />
                <!-- <img src="assets/images/responsive-logo.jpg" alt="" class="responsive-logo" / -->
            </a>
        </div>
        <div class="menu-section">
            <ul id="mySidenav">
                <li class="responsive-show-section" routerLink="/">
                    <img src="assets/images/logo.png" alt="" />
                </li>
                <li>
                    <a class="responsive-menu-work" (click)="findalawyer()" [ngStyle]="{'color':setcolor === '#f7f7f7' ? 'black' : 'white' }">Find a Lawyer</a>
                </li>
                <li>
                    <a href="javascript:void(0)" [ngStyle]="{'color':setcolor === '#f7f7f7' ? 'black' : 'white' }" [routerLink]="['/lawyer-directory/menu-listing-search']" routerLinkActive="router-link-active" >Directory</a>
                </li>
                <li class="free-q-a-li-section">
                    <a class="free-q-a-li-a" href="javascript:void(0)" [ngStyle]="{'color':setcolor === '#f7f7f7' ? 'black' : 'white' }">Free Q&A <i
                            style="margin-left: 7px;font-size: 20px;line-height: 0;" class="fal fa-angle-down"></i></a>
                    <ul class="sub-menu-section-block">
                        <li>
                            <div class="row">
                                <div class="col sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="menu-title-section" >Browse questions from others</div>
                                    <div class="row">
                                        <div class="col sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <ul
                                                *ngFor="let practice_area of usersService.practiceAreaList | slice:0:usersService.practiceAreaList?.length/2  ">
                                                <li><a href="javascript:void(0)"
                                                        (click)=getQuestionListing(practice_area._id)>{{ practice_area.name }}
                                                        questions</a></li>
                                            </ul>
                                        </div>
                                        <div class="col sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <ul
                                                *ngFor="let practice_area of usersService.practiceAreaList | slice:usersService.practiceAreaList?.length/2:usersService.practiceAreaList?.length  ">
                                                <li><a href="javascript:void(0)"
                                                        (click)=getQuestionListing(practice_area._id)>{{ practice_area.name }}
                                                        questions</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="menu-title-section">Read expert articles by lawyers</div>
                                    <div class="row">
                                        <div class="col sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <ul>
                                                <li><a href="questions-on-business.html">Business articles</a></li>
                                                <li><a href="questions-on-business.html">Child custody articles</a></li>
                                                <li><a href="questions-on-business.html">Criminal defense articles</a></li>
                                                <li><a href="questions-on-business.html">DUI articles</a></li>
                                                <li><a href="questions-on-business.html">Divorce articles</a></li>
                                                <li><a href="questions-on-business.html">Employment articles</a></li>
                                            </ul>
                                        </div>
                                        <div class="col sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <ul>
                                                <li><a href="questions-on-business.html">Immigration articles</a></li>
                                                <li><a href="questions-on-business.html">Landlord or tenant articles</a>
                                                </li>
                                                <li><a href="questions-on-business.html">Personal injury articles</a></li>
                                                <li><a href="questions-on-business.html">Prenuptial agreement articles</a>
                                                </li>
                                                <li><a href="questions-on-business.html">Traffic tickets articles</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="menu-title-section">Ask a free question</div>
                                    <div class="row">
                                        <div class="col sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <ul>
                                                <li><a routerLink="/lawyer-directory/ask-free-question"
                                                        href="javascript:void(0)">Ask a free question</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li *ngIf="getToken == null">
                    <a class="responsive-menu-work" routerLink="/lawyer-directory/login" [ngStyle]="{'color':setcolor === '#f7f7f7' ? 'black' : 'white' }">Login</a>
                </li>            
                <li *ngIf="getData == 'add' && getToken == null">
                    <a class="add-doctor-menu responsive-menu-work" (click)="onGetSubscrption()" [ngStyle]="{'color':setcolor === '#f7f7f7' ? 'black' : 'white' }">Add Lawyer</a>
                </li>            
                <li *ngIf="getToken != null" class="front-after-login-user">
                    <div class="user-profile-section">
                        <span class="user-profile-name">
                            <span class="user-profile-name-span">{{userProfileData?.full_name}}</span> <i
                                class="fal fa-angle-down"></i>
                        </span>
                        <span class="user-profile-img">
                            <img *ngIf="!userProfileData?.profile_image || userProfileData?.profile_image == ''"
                                src="assets/images/user.png" alt="" />
                            <img *ngIf="userProfileData?.profile_image != ''" src="{{userProfileData?.profile_image}}"
                                alt="" />
                        </span>
                        <ul class="user-profile-drop-seciton">
                            <li><a routerLink="/lawyer-directory/dashboard">Dashboard</a></li>
                            <li><a (click)="getUserProfile()">Profile</a></li>
                            <li *ngIf="getData == 'add'"><a (click)="onGetSubscrption()">Add Lawyer</a></li>
                            <li *ngIf="getData == 'edit'"><a routerLink="/lawyer-directory/edit-lawyer">Edit Lawyer</a></li>
                            <li><a href="javascript:void(0)">Setting</a></li>
                            <li><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
                        </ul>
                    </div>
                </li>
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
            </ul>
            <span class="menu-icon" (click)="openNav()">&#9776;</span>
        </div>
        <div class="clearfix"></div>
    </div>
<ng-template #noedit>
    <div class="header header-home main-header-section-block" id="header">
        <div class="logo-section">
            <a routerLink="/">
                <img src="assets/images/logo.png" alt="" class="main-logo" />
                <!-- <img src="assets/images/responsive-logo.jpg" alt="" class="responsive-logo" / -->
            </a>
        </div>
        <div class="menu-section">
            <ul id="mySidenav">
                <li class="responsive-show-section" routerLink="/">
                    <img src="assets/images/logo.png" alt="" />
                </li>
                <li>
                    <a class="responsive-menu-work" (click)="findalawyer()" >Find a Lawyer</a>
                </li>
                <li>
                    <a href="javascript:void(0)" [routerLink]="['/lawyer-directory/menu-listing-search']" routerLinkActive="router-link-active" >Directory</a>
                </li>
                <li class="free-q-a-li-section">
                    <a class="free-q-a-li-a" href="javascript:void(0)" >Free Q&A <i
                            style="margin-left: 7px;font-size: 20px;line-height: 0;" class="fal fa-angle-down"></i></a>
                    <ul class="sub-menu-section-block">
                        <li>
                            <div class="row">
                                <div class="col sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="menu-title-section" >Browse questions from others</div>
                                    <div class="row">
                                        <div class="col sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <ul
                                                *ngFor="let practice_area of usersService.practiceAreaList | slice:0:usersService.practiceAreaList?.length/2  ">
                                                <li><a href="javascript:void(0)"
                                                        (click)=getQuestionListing(practice_area._id)>{{ practice_area.name }}
                                                        questions</a></li>
                                            </ul>
                                        </div>
                                        <div class="col sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <ul
                                                *ngFor="let practice_area of usersService.practiceAreaList | slice:usersService.practiceAreaList?.length/2:usersService.practiceAreaList?.length  ">
                                                <li><a href="javascript:void(0)"
                                                        (click)=getQuestionListing(practice_area._id)>{{ practice_area.name }}
                                                        questions</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="menu-title-section">Read expert articles by lawyers</div>
                                    <div class="row">
                                        <div class="col sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <ul>
                                                <li><a href="questions-on-business.html">Business articles</a></li>
                                                <li><a href="questions-on-business.html">Child custody articles</a></li>
                                                <li><a href="questions-on-business.html">Criminal defense articles</a></li>
                                                <li><a href="questions-on-business.html">DUI articles</a></li>
                                                <li><a href="questions-on-business.html">Divorce articles</a></li>
                                                <li><a href="questions-on-business.html">Employment articles</a></li>
                                            </ul>
                                        </div>
                                        <div class="col sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <ul>
                                                <li><a href="questions-on-business.html">Immigration articles</a></li>
                                                <li><a href="questions-on-business.html">Landlord or tenant articles</a>
                                                </li>
                                                <li><a href="questions-on-business.html">Personal injury articles</a></li>
                                                <li><a href="questions-on-business.html">Prenuptial agreement articles</a>
                                                </li>
                                                <li><a href="questions-on-business.html">Traffic tickets articles</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="menu-title-section">Ask a free question</div>
                                    <div class="row">
                                        <div class="col sm-6 col-md-6 col-lg-6 col-xl-6">
                                            <ul>
                                                <li><a routerLink="/lawyer-directory/ask-free-question"
                                                        href="javascript:void(0)">Ask a free question</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li *ngIf="getToken == null">
                    <a class="responsive-menu-work" routerLink="/lawyer-directory/login" >Login</a>
                </li>            
                <li *ngIf="getData == 'add' && getToken == null">
                    <a class="add-doctor-menu responsive-menu-work" (click)="onGetSubscrption()" >Add Lawyer</a>
                </li>            
                <li *ngIf="getToken != null" class="front-after-login-user">
                    <div class="user-profile-section">
                        <span class="user-profile-name">
                            <span class="user-profile-name-span">{{userProfileData?.full_name}}</span> <i
                                class="fal fa-angle-down"></i>
                        </span>
                        <span class="user-profile-img">
                            <img *ngIf="!userProfileData?.profile_image || userProfileData?.profile_image == ''"
                                src="assets/images/user.png" alt="" />
                            <img *ngIf="userProfileData?.profile_image != ''" src="{{userProfileData?.profile_image}}"
                                alt="" />
                        </span>
                        <ul class="user-profile-drop-seciton">
                            <li><a routerLink="/lawyer-directory/dashboard">Dashboard</a></li>
                            <li><a (click)="getUserProfile()">Profile</a></li>
                            <li *ngIf="getData == 'add'"><a (click)="onGetSubscrption()">Add Lawyer</a></li>
                            <li *ngIf="getData == 'edit'"><a routerLink="/lawyer-directory/edit-lawyer">Edit Lawyer</a></li>
                            <li><a href="javascript:void(0)">Setting</a></li>
                            <li><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
                        </ul>
                    </div>
                </li>
                <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
            </ul>
            <span class="menu-icon" (click)="openNav()">&#9776;</span>
        </div>
        <div class="clearfix"></div>
    </div>  
</ng-template>