<div class="inner-page-middle-seciton-main">
    <div class="black-bg-section"></div>

    <app-sidebar></app-sidebar>

    <div class="inner-page-middle-seciton">

        <app-dashboard-header></app-dashboard-header>

        <div class="dashboard-page-content-seciton trassaction-history-page-seciton">
        
                <div class="change-password-page-main">
                    <div class="change-password-page-head">
                        Change Password
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                            <div class="input-box-right">
                                <div class="input-name">Old Password</div>
                                <input type="password" name="old_password" value="Admin@123">
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                            <div class="input-box-right">
                                <div class="input-name">New Password</div>
                                <input type="password" name="new_password" value="Admin@123">
                                <span class="bar"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                            <div class="input-box-right">
                                <div class="input-name">Confirm Password</div>
                                <input type="password" name="confirm_password" value="Admin@123">
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                    <div class="continue-bnt-section-popup">
                        <a href="javascript:void(0);" class="bnt-continue-section-popup">Submit</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
     
        </div>
    </div>
</div>

