
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '100px' }"></ngx-loading>

<div class="blank-div-section"></div>

<!-- HEADER -->
  <app-main-header></app-main-header>

  <div class="login-page">
        <div class="login-box">
            <div class="left-side">
                <div class="left-img-text">
                    <div class="login-heading">Set Password</div>
                    <div class="login-line"></div>
                    <div class="easy-way-text">Yo! Forgot your password? </div>
                    <div class="hundreds-text">No worries! Enter your token and set new password.</div>
                </div>
            </div>
            <div class="right-side">
                <form #setPassform="ngForm" id="setPassform" data-parsley-validate>
                    <div class="login">Set Password</div>
                    <div class="input-box-right">
                        <input type="hidden" name="password_reset_token" [(ngModel)]="passToken" #password_reset_token="ngModel"/>

                        <div class="input-name">New Password</div>
                        <input type="password" id="confirmPassword" name="password" placeholder="New Password" ngModel required #password="ngModel"
                        minlength="8" maxlength="16" pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8,}$"
                        data-parsley-required="true"
                        data-parsley-required-message="* Please enter your password."
                        data-parsley-pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8,}$"
                        data-parsley-pattern-message="Should contain alphanumeric characters, numbers and special characters"
                        data-parsley-minlength="8"
                        data-parsley-minlength-message="Minimum 8 characters"
                        data-parsley-maxlength="16"
                        data-parsley-maxlength-message="Maximum 16 characters">
                        <span class="bar"></span>
                    </div>    
                    
                    <div class="input-box-right">
                      <div class="input-name">Confirm New Password</div>
                        <input type="password" name="confirm_new_password" placeholder="Confirm New Password" 
                        ngModel #confirm_new_password="ngModel" required
                        data-parsley-required="true" 
                        data-parsley-required-message="* Please enter your confirm password."
                        data-parsley-equalto="#confirmPassword"
                        data-parsley-equalto-message="Password and Confirm Password should be same." >
                      <span class="bar"></span>
                  </div>    
                    
                    <div style="color: red">{{message}}</div>

                    <div class="login-btn-box">
                        <button type="submit" class="login-btn" (click)="setPassword(setPassform)">Set Password</button>
                    </div>
                </form>
            </div>
        </div>
  </div>

<!-- FOOTER  -->
  <app-main-footer></app-main-footer>

<!-- back to Top Start Here  -->
<a href="#0" class="cd-top"><i class="fal fa-angle-up"></i></a>
