<div class="blank-div-section"></div>
    
<!-- HEADER -->
    <app-main-header></app-main-header>

    <div class="blog-tab-section how-it-works-banner-section"> 
        <div class="main-blog-bx">
            <div class="main-blog-img">
                <img src="assets/images/how-it-works-banner-img.jpg" alt="img" />
            </div>
            <div class="how-it-works-banner-content">
                <div class="how-it-works-banner-head">
                    <h1>How it Work - Lawyer</h1>
                </div>
                <div class="how-it-works-meni-head">
                    <h2>We are Language Service for you</h2>
                    <div class="bottom-underline-white"></div>
                </div>
                <div class="breadcurm-section-main">
                    <ul>
                        <li><a routerLink="/">Home</a> <span class="breadcurm-arrow-section"><i class="fal fa-angle-right"></i></span></li>
                        <li>How it Work</li>
                    </ul>
                </div>                
            </div>
        </div>               
    </div>
    <div class="how-it-works-contnet-section-main">
        <div class="container">
            <div class="how-it-works-contnet-section">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="how-it-works-one-contnet-img">
                            <span><img src="assets/images/how-it-works-content-section-paturn.png" alt="" /></span>
                            <img class="how-it-works-one-img" src="assets/images/how-it-works-content-section-bg.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="how-it-works-one-contnet-text">
                            <div class="how-it-works-contnet-count">1</div>
                            <div class="how-it-works-one-contnet-head">
                                <h3>Add or Claim Your Listing, to Enhance Business Opportunities With Us</h3>
                            </div>
                            <div class="how-it-works-one-txt">
                                Sign up with LawTally, add relevant information, write about your work giving as much information as possible, add your photos and/or videos, choose your practice area, you could add links of your own website and social media accounts to enhance your profile.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 show-for-responsive">
                        <div class="how-it-works-one-contnet-img">
                            <span><img src="assets/images/how-it-works-content-section-paturn.png" alt="" /></span>
                            <img class="how-it-works-one-img" src="assets/images/how-it-works-content-section-bg2.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="how-it-works-one-contnet-text how-it-works-two-contnet-text">
                            <div class="how-it-works-contnet-count">2</div>
                            <div class="how-it-works-one-contnet-head">
                                <h3>Get Discovered By Visitors <br>&amp; Generate Leads</h3>
                            </div>
                            <div class="how-it-works-one-txt">
                                Upon confirmation, your listing will appear on the website and will be available for search to visitors. Visitors can now search you using criteria such as lawyer category or city or state. A badge will be added to your listing to mark it as official.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 hide-for-responsive">
                        <div class="how-it-works-one-contnet-img how-it-works-two-contnet-img">
                            <span><img src="assets/images/how-it-works-content-section-paturn.png" alt="" /></span>
                            <img class="how-it-works-one-img" src="assets/images/how-it-works-content-section-bg2.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="how-it-works-one-contnet-img">
                            <span><img src="assets/images/how-it-works-content-section-paturn.png" alt="" /></span>
                            <img class="how-it-works-one-img" src="assets/images/how-it-works-content-section-bg3.png" alt="" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                        <div class="how-it-works-one-contnet-text">
                            <div class="how-it-works-contnet-count">3</div>
                            <div class="how-it-works-one-contnet-head">
                                <h3>Grow Your Business with Us &amp; Feel the difference...</h3>
                            </div>
                            <div class="how-it-works-one-txt">
                                Customer's will discover you on LawTally and contact you with their issues. It is your job from here to give them satisfactory results and earn positive reviews from them. More positive reviews mean more visibility and more business.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dont-have-account-section-main">
        <div class="container">
            <div class="dont-have-account-head">
                <h3>Don't have an account yet? </h3>
            </div>
            <div class="dont-have-account-semi-head">
                Sign up with LawTally to get the ultimate online experience.
            </div>
            <div class="get-started-now-btn-main">
                <a href="javascript:void(0);" class="get-started-now-btn">Get Started Now</a>
            </div>
            <div class="monyback-guarantee-text">
                <span><img src="assets/images/moneyback-guarantee-icon.png" alt="" /> </span> <span>30-day money-back guarantee</span>
            </div>
        </div>
    </div>

<!-- FOOTER  -->
    <app-main-footer></app-main-footer>

<!-- back to Top Start Here  -->
<a href="#0" class="cd-top"><i class="fal fa-angle-up"></i></a>