<div class="header header-home" id="header">
  <div class="logo-section">
      <a routerLink="/">
          <img src="assets/images/logo.png" alt="" class="main-logo" />
          <!-- <img src="assets/images/responsive-logo.jpg" alt="" class="responsive-logo" /> -->
      </a>
  </div>
  <div class="menu-section">
      <ul id="mySidenav">
          <li class="responsive-show-section" routerLink="/">
              <img src="assets/images/logo.png" alt="" />
          </li>
          
          <a href="javascript:void(0)" class="closebtn">&times;</a>
      </ul>
      <span class="menu-icon">&#9776;</span>
  </div>
  <div class="clearfix"></div>
</div>
<div id="notfound" style="background-image: url('assets/images/pageNotFound.png'); background-size: cover;
background-repeat: no-repeat;">
    <div class="notfound">
        <div class="notfound-404">
            <h1>Oops!</h1>
            <h2 style="background-image: url('assets/images/pageNotFound.png')">404 - The Page can't be found</h2>
        </div>
        <a class="animated slideInRight faster" routerLink="/">Go To Homepage</a>
    </div>
</div>
<footer>      
      <div class="copyright-section-block">
          <div class="container">
              <ul>
                  <li>&copy; Copyright 2020. All Rights reserved by LawTally</li>
                  <li>|</li>
                  <li><a href="javascript:void(0)">Privacy Policy</a></li>
                  <li>|</li>
                  <li><a href="javascript:void(0)">Terms &amp; Conditions</a></li>
              </ul>
          </div>
      </div>
</footer>