
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '100px' }"></ngx-loading>

<div class="blank-div-section"></div>

<!-- HEADER -->
  <app-main-header></app-main-header>

  <div class="login-page">
        <div class="login-box">
            <div class="left-side">
                <div class="left-img-text">
                    <div class="login-heading">Forgot Password ?</div>
                    <div class="login-line"></div>
                    <div class="easy-way-text">Yo! Forgot your password? </div>
                    <div class="hundreds-text">No worries! Enter your email and we will send you a reset.</div>
                </div>
            </div>
            <div class="right-side">
                <form #form="ngForm" id="form" data-parsley-validate>
                    <div class="login">Forgot Password ?</div>
                    <div class="input-box-right">
                        <div class="input-name">Email/Mobile</div>
                        <input type="text" name="email" placeholder="alexandraba@gmail.com" ngModel required #email="ngModel" data-parsley-type="email" data-parsley-required="true" data-parsley-required-message="* Please enter your email.">
                        <span class="bar"></span>
                    </div>      
                    
                    <div style="color: red">{{message}}</div>

                    <div class="login-btn-box">
                        <button type="submit" class="login-btn" (click)="sendRequest(form)">Send Request</button>
                    </div>
                </form>
            </div>
        </div>
  </div>

<!-- FOOTER -->
    <app-main-footer></app-main-footer>

<!-- back to Top Start Here  -->
    <a href="#0" class="cd-top"><i class="fal fa-angle-up"></i></a>
